.e2_4 {
    overflow: hidden;
}

.e2_4 {
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.e2_35 {
    width: 1440px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 150px;
}

.e2_24 {
    width: 1440px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e2_25 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(230.00000149011612, 230.00000149011612, 230.00000149011612, 1);
    width: 1440px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e2_25 {
    border: 1px solid rgba(0, 0, 0, 1);
}

.e3_46 {
    width: 1480px;
    height: 90px;
    position: absolute;
    left: -20px;
    top: -20px;
}

.e3_44 {
    width: 1460px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.e2_19 {
    width: 1440px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.e2_5 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e2_5 {
    border: 1px solid rgba(0, 0, 0, 1);
}

.e2_17 {
    color: rgba(0, 0, 0, 1);
    width: 52px;
    height: 19px;
    position: absolute;
    left: 953px;
    top: 15px;
    font-family: Inder;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_18 {
    color: rgba(0, 0, 0, 1);
    width: 42px;
    height: 19px;
    position: absolute;
    left: 1030px;
    top: 15px;
    font-family: Inder;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_8 {
    color: rgba(0, 0, 0, 1);
    width: 43px;
    height: 19px;
    position: absolute;
    left: 56px;
    top: 15px;
    font-family: Inder;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_9 {
    color: rgba(0, 0, 0, 1);
    width: 57px;
    height: 19px;
    position: absolute;
    left: 124px;
    top: 15px;
    font-family: Inder;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_10 {
    color: rgba(0, 0, 0, 1);
    width: 37px;
    height: 19px;
    position: absolute;
    left: 206px;
    top: 15px;
    font-family: Inder;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_14 {
    color: rgba(0, 0, 0, 1);
    width: 48px;
    height: 19px;
    position: absolute;
    left: 288px;
    top: 15px;
    font-family: Inder;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_16 {
    color: rgba(0, 0, 0, 1);
    width: 57px;
    height: 18px;
    position: absolute;
    left: 361px;
    top: 15px;
    font-family: Impact;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_11 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 243px;
    top: 15px;
}

.e2_20 {
    color: rgba(0, 0, 0, 1);
    width: 9px;
    height: 15px;
    position: absolute;
    left: 249px;
    top: 18px;
    font-family: Anonymous Pro;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.e3_45 {
    width: 1500px;
    height: 160px;
    position: absolute;
    left: -30px;
    top: 20px;
}

.e3_43 {
    width: 1480px;
    height: 140px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.e3_42 {
    width: 1460px;
    height: 120px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.e2_23 {
    background-color: rgba(0, 0, 0, 1);
    width: 1440px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.e2_22 {
    color: rgba(255, 255, 255, 1);
    width: 314px;
    height: 76px;
    position: absolute;
    left: 563px;
    top: 12px;
    font-family: Caveat;
    text-align: left;
    font-size: 60px;
    letter-spacing: 0;
}

.e2_38 {
    transform: rotate(90deg);
    width: 52px;
    height: 0px;
    position: absolute;
    left: 91px;
    top: 148px;
}

.2
_38 {
    border: 1px solid rgba(0, 0, 0, 1);
}

.e2_40 {
    transform: rotate(90deg);
    width: 52px;
    height: 0px;
    position: absolute;
    left: 141px;
    top: 148px;
}

.e2_40 {
    border: 1px solid rgba(0, 0, 0, 1);
}

.e2_37 {
    width: 36px;
    height: 29px;
    position: absolute;
    left: 99px;
    top: 161px;
    background-image: url(images/image_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
